/* Global styles */
html, body {
    margin: 0;
    padding: 0;
}

.titles {
    padding-left: 20px;
}

.one { background: #A1B3EF; }
.two { background: #FF9EC8; }
.three { background: #ABD8BE }

hr { margin: 30px 0; }


/* Elements styles */
/* 1 */
table {
    border-collapse: collapse;
    width: 100%;
}

    table td {
        background: #A1B3EF;
        padding: 10px;
        width: 33.33333%;
    }

/* 2 */
.float-divs {
    overflow: hidden;
}

    .float-divs div {
        width: calc(33.33333% - 20px);
        float: left;
        padding: 10px;
    }


/* 3 */
.inline-divs {
    word-spacing: -34px;
}

    .inline-divs div {
        width: 33.33333%;
        display: inline-block;
        padding: 10px;
        word-spacing: normal;
    }

.inline-divs2 {
}

    .inline-divs2 div {
        width: 33.33333%;
        display: inline-block;
        padding: 10px;
    }

    .inline-divs2 div:not(:first-child) {
        margin-left: -34px;
    }


/* 4 */
.flex-divs {
    display: flex;
}

    .flex-divs div {
        flex: 1;
        padding: 10px;
    }
